
:root {
  --bgColor: #0B3782;
  --textColor: #9cbb01;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  flex-grow: 0 !important;
}

.MuiContainer-root {
  flex-grow: 1;
}
/* Navbar */
.logo {
  height: 40px;
  margin-right: 10px;
}

.main-bgColor {
  background-color: var(--bgColor) !important;
}

.main-borderColor {
  border-color: var(--bgColor) !important;
}
.main-borderColor:hover {
  background-color: var(--bgColor) !important;
  color: #FFF !important;
}

.main-textColor {
  color: var(--textColor) !important;
}
.sec-textColor {
  color: var(--bgColor) !important;
}
.hoverColor {
  color: #a8ca0036 !important;
}

